Source: cpacoin
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@cpacoin.org>
Uploaders: Holger Schinzel <holger@cpacoin.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.35),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.35),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.35),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.35),
 libboost-test1.48-dev | libboost-test-dev (>> 1.35),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.35),
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: https://www.cpacoin.org/
Vcs-Git: git://github.com/cpacoinpay/cpacoin.git
Vcs-Browser: https://github.com/cpacoinpay/cpacoin

Package: cpacoind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Cpacoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Cpacoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Cpacoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, cpacoind, and the CLI tool
 cpacoin-cli to interact with the daemon.

Package: cpacoin-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Cpacoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Cpacoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Cpacoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Cpacoin-Qt, a GUI for Cpacoin based on Qt.

Package: cpacoin-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Cpacoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Cpacoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Cpacoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides cpacoin-tx, a command-line transaction creation
 tool which can be used without a cpacoin daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
